<h1>Pricing Policy</h1>
<p>These Privacy Policy govern your use of our website and services. By accessing or using our services, you agree to be bound by these terms.
</p>
<h2>Code Lekhak Pricing policy</h2>
<h3>Price Range</h3>
<p>
    AtCode Lekhak, we have customised pricing according to the services rendered by us. The details are provided to you beforehand according to the effort, efficiency and the output of the service. Typically the range of transactions on our website varies from INR 500 INR to 13000 INR.

</p>

<h3>Schedule of payment
</h3>

<p>
    Some of our services can be utilized for fixed durations. In such cases, it is clearly mentioned within the description of these services. The period of usage in these cases vary from 1 month to 1 year.

</p>
<h3>Price Matching
</h3>
<p>
    At Code Lekhak we are committed to offering you the best possible prices. We will be glad to meet our competitors pricing if you ever find an item that we offer, in the same color and size, available from a similar retailer. NOTE: These pricing will not be matched for discount coupons offered by other sites. We are unable to match prices from auction and outlet stores or websites, as well as other retailers discount promotions, shipping offers, and gift card offers.

</p>
<h3>Sale Adjustment
</h3>
<p>
    If an item you have purchased is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per item and designer goods originally purchased on sale are excluded. NOTE: These pricing will not be matched for discount coupons offered by other sites.
</p>
<h3>Pricing Errors
</h3>
<p>
    We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If an items price is higher than the price displayed, we will cancel your order of that item and notify you of the cancellation.

</p>
<h3>Shopping Cart
</h3>
<p>
    Items in your Shopping Cart reflect the current price displayed on the items product details page. Please note: This price may differ from the price displayed when the item was first placed in your Shopping Cart. Our merchandise/service is offered for sale by XYZ for your personal enjoyment and not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe may be purchasing for resale.

</p>

<p><strong>
    <a href="mailto: info@codelekhak.com">
    Our Customer Service Specialists are ready to assist you—simply email at info&#64;codelekhak.com 24 hours a day.
</a></strong></p>