<section class="banner">

    @defer (on viewport) {
    <div class="text-container">
        <h1 class="banner-heading typing-text" appHoverdirective>Welcome to my page </h1>
        <p>Hello! I'm Satendra Rajput, a dedicated teacher specializing in coding education. With over three years of experience, I have the pleasure of guiding students of all levels, from beginners to advanced programmers crafting impressive software. Teaching coding is my passion, and I'm committed to helping my students succeed in their programming journey.
        </p>
       
        <br>
        <div class="banner-tut">
            <div class="banner-tut-icons">
                <a href="https://www.facebook.com/satendra.rajputs"><img src="assets/icons/facebook.svg" alt="facebook
                    "></a>
                <a href="https://www.instagram.com/satendra.rajputs/" target="_blank" title="instagram"><img
                        src="assets/icons/instagram.svg" alt="instagram"></a>
                <a href="https://twitter.com/satendrarajput_" target="_blank" title="Twitter"><img
                        src="assets/icons/twitter.svg" alt="Twitter"></a>
                <a href="https://www.linkedin.com/in/satendra-rajput/" target="_blank" title="Linkedin"><img
                        src="assets/icons/linkedin.svg" alt="Linkedin"></a>
                <a href="https://github.com/satendra-rajput" target="_blank" title="Github"><img
                        src="assets/icons/github.svg" alt="Github"></a>
                <a href="https://youtube.com/@codelekhak" target="_blank" title="Youtube"><img
                        src="assets/icons/youtube.svg" alt="Youtube"></a>
            </div>
        </div><br>
        <a href="https://www.ssbrinet.com/" target="_blank">
            <button class="button">Start Learning</button>
        </a>
    </div>
    } @placeholder {
    <div>Loading...</div>
    }

    @defer (on viewport) {
    <div class="image-container">
        <img src="assets/icons/online-learning.svg" alt="SR">
    </div>
    }@placeholder {
    <div>Loading...</div>
    }
</section>