<section class="dashboard">
    <div class="dashboard-top-menu display-flex">
        <div class="menuLink"><a href="">Home</a>»<a href="">Admin</a>»<a href="">Dashboard</a></div>
        <div class="btn" title="Add New Article"><a href="">Back to Home</a></div>
    </div>

    <div class="analytics">
        <h2 class="heading">Data analytics</h2>
        <div class="analytics-row display-grid">
            <div class="card totalvister ">Total vister</div>
            <div class="card totalvister">Total vister</div>
            <div class="card totalvister">Total vister</div>
            <div class="card totalvister">Total vister</div>
        </div>
    </div>



    <div class="score-activity">
        <h2 class="heading">Score Activit</h2>
        <div class="score-activity-row">
            <div class="card score-activit-card"> Hello</div>
        </div>
    </div>


    <div class="analytics">
        <h2 class="heading">Data analytics</h2>
        <div class="analytics-row display-grid">
            <div class="card totalvister ">Total vister</div>
            <div class="card totalvister">Total vister</div>
            <div class="card totalvister">Total vister</div>
            <div class="card totalvister">Total vister</div>
        </div>
    </div>
</section>