<nav>
    <div class="wrapper">
        <div class="logo"><a href="/">
               <h2>Satendra Rajput</h2>
            </a></div>

        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
            <label for="close-btn" class="btn close-btn">
                <i><mat-icon style="color: #fff; margin-left: 115px;">close</mat-icon></i>
            </label>

            <li><a href="" class="mobile-item">Home</a></li>

            <li><a href="#" class="desktop-item">Hindi Courses<mat-icon>arrow_drop_down</mat-icon></a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">Hindi Courses<mat-icon>arrow_drop_down</mat-icon></label>
                <ul class="drop-menu">
                    <li class="demo-section"><a href="#" id="icons" target="_blank">
                            <img src="assets/icons/html5.svg" alt="HTML Solution" width="50px" height="50px">
                            <span> HTML Hindi Course</span>
                        </a>
                    </li>

                    <li><a href="#" target="_blank" id="icons">
                            <img src="assets/icons/css.svg" alt="CSS Solution" width="50px" height="50px">
                            <span> CSS Hindi Course</span>
                        </a>
                    </li>

                    <li><a href="#" target="_blank" id="icons">
                            <img src="assets/icons/js.svg" alt="JavaScript Solution" width="50px" height="50px">
                            <span>JavaScript Hindi Course </span>
                        </a>
                    </li>

                    
                    <li><a href="#" id="icons">
                        <img src="assets/icons/typescript.svg" alt="MongoDB " width="50px" height="50px">
                        <span>TypeScript Hindi Course</span>
                    </a>
                    </li>

                    <li><a href="#" id="icons">
                            <img src="assets/icons/angular.svg" alt="Angular Solution" width="50px" height="50px">
                            <span>Angular Hindi Course</span>
                        </a>
                    </li>

                    <li><a href="#" target="_blank" id="icons">
                            <img src="assets/icons/node-js.svg" alt="Node Js" width="50px" height="50px">
                            <span>Node js Hindi Course</span>
                        </a>
                    </li>

                    <li><a href="#" id="icons">
                            <img src="assets/icons/mongodb.svg" alt="MongoDB " width="50px" height="50px">
                            <span>MongoDB Hindi Course</span>
                        </a>
                    </li>

                    <li><a href="#" id="icons">
                            <img src="assets/icons/excel.svg" alt="MongoDB " width="50px" height="50px">
                            <span>Ad.Excel Hindi Course</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li><a href="#" class="desktop-item">Free Resources <mat-icon>arrow_drop_down</mat-icon></a>
                <input type="checkbox" id="showDropD">
                <label for="showDropD" class="mobile-item">Free Resources <mat-icon>arrow_drop_down</mat-icon></label>
                <ul class="drop-menu">
                    <li class="demo-section"><a href="#" id="icons" target="_blank">
                            <img src="assets/icons/template.svg" alt="HTML Solution" width="50px" height="50px">
                            <span> HTML/CSS Templates</span>
                        </a>
                    </li>

                    <li><a href="#" target="_blank" id="icons">
                            <img src="assets/icons/id-card.svg" alt="CSS Solution" width="50px" height="50px">
                            <span> Admin Design</span>
                        </a>
                    </li>

                    <li><a href="#" target="_blank" id="icons">
                            <img src="assets/icons/website.svg" alt="JavaScript Solution" width="50px" height="50px">
                            <span>Website Design </span>
                        </a>
                    </li>

                    <li><a href="#" id="icons">
                            <img src="assets/icons/portfolio.svg" alt="Angular Solution" width="50px" height="50px">
                            <span>Portfolio Templates</span>
                        </a>
                    </li>

                    <li><a href="#" id="icons">
                            <img src="assets/icons/chat.svg" alt="MongoDB " width="50px" height="50px">
                            <span>Chat API</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li><a href="#" class="desktop-item">Community<mat-icon>arrow_drop_down</mat-icon></a>
                <input type="checkbox" id="showDropac">
                <label for="showDropac" class="mobile-item">Community<mat-icon>arrow_drop_down</mat-icon></label>
                <ul class="drop-menu">
                  
                     <li><a href="https://chat.whatsapp.com/JzAMly9YCjcJJIaHYm4TwG" id="icons">
                            <img src="assets/icons/whatsapp.svg" alt="Interview Questions" width="50px" height="50px">
                            <span>Join Whatsapp</span>
                        </a>
                    </li>

                    <li><a href="/company/about_us" id="icons">
                            <img src="assets/icons/discord.svg" alt="Roadmap (PathFinder)" width="50px" height="50px">
                            <span>Join Discord</span>
                        </a>
                    </li>

                    <li><a href="https://github.com/satendra-rajput" id="icons">
                            <img src="assets/icons/github.svg" alt="Roadmap (PathFinder)" width="50px" height="50px">
                            <span>Follow GitHub</span>
                        </a>
                    </li>

                    <li><a href="https://www.linkedin.com/in/satendra-rajput/" id="icons" target="_blank">
                            <img src="assets/icons/linkedin.svg" alt="MEAN Stack Questions" width="50px" height="50px">
                            <span>Follow Linkedin</span>
                        </a>
                    </li>

                    <li><a href="https://youtube.com/@codelekhak" id="icons" target="_blank">
                        <img src="assets/icons/youtube.svg" alt="MEAN Stack Questions" width="50px" height="50px">
                        <span>Join YouTube</span>
                    </a>
                </li>

                </ul>
            </li>

            <li><a href="#" class="desktop-item">Others<mat-icon>arrow_drop_down</mat-icon></a>
                <input type="checkbox" id="showDropa">
                <label for="showDropa" class="mobile-item">Others<mat-icon>arrow_drop_down</mat-icon></label>
                <ul class="drop-menu">
                  
                     <li><a href="/company/frequently_asked_questions" id="icons">
                            <img src="assets/icons/questions.svg" alt="Interview Questions" width="50px" height="50px">
                            <span>Interview Questions </span>
                        </a>
                    </li>

                    <li><a href="/company/about_us" id="icons">
                            <img src="assets/icons/quiz.svg" alt="Roadmap (PathFinder)" width="50px" height="50px">
                            <span>Free Quizzes</span>
                        </a>
                    </li>

                    <li><a href="/company/about_us" id="icons">
                            <img src="assets/icons/road.svg" alt="Roadmap (PathFinder)" width="50px" height="50px">
                            <span>PathFinder</span>
                        </a>
                    </li>

                    <li><a href="https://support.ssbrinet.com/" id="icons" target="_blank">
                            <img src="assets/icons/stack.svg" alt="MEAN Stack Questions" width="50px" height="50px">
                            <span>Problem-Solving</span>
                        </a>
                    </li>

                    <li><a href="https://support.ssbrinet.com/" id="icons" target="_blank">
                        <img src="assets/icons/blog.svg" alt="MEAN Stack Questions" width="50px" height="50px">
                        <span>Blogs</span>
                    </a>
                </li>
                </ul>
            </li>


            <li><a href="/about_us">About us</a></li>
            <li (click)="isDarkModeMethod()" style="cursor: pointer;" class="desktop-item">
                @if (isDarkMode) {
                <mat-icon>light_mode</mat-icon>
                }@else {
                <mat-icon>dark_mode</mat-icon>
                }
            </li>
            <li><a href="/" class="loginbtn">Mentor</a></li>
            @if (isLoggedIn) {
            <li><a href="/auth/login" class="loginbtn">Login</a>
            </li>
            }@else {
            <li class="loginuser" (click)="dashboard()"><span>{{autherDetails.data?.fullName[0]}}
            </span></li>
            }
        </ul>
        <label for="menu-btn" class="btn menu-btn"><i><mat-icon>menu</mat-icon></i></label>
    </div>
</nav>