<section class="support-container">
    <div class="support-row">
        @defer (on viewport) {
        <div class="support-card">
            <h2>Don't hesitate to reach out.</h2>
            <p>
                Never hesitate to reach out for help. It’s a sign of strength, not weakness. By asking for assistance,
                you open doors to learning, building relationships, saving time, and improving the quality of your work
                and life. Remember, everyone needs help sometimes, and it's okay to ask for it.
            </p>
            <div><button class="button">Join Discord</button></div>
        </div>

        <div class="support-card">
            <img src="assets/images/support.svg" alt="">
        </div>
        } @placeholder {
        <div>Loading..</div>
        }
    </div>
</section>